* {
  box-sizing: border-box;
  margin: 0;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #d9ed92;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav a {
  margin-right: 5rem;
  color: #184e77;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

#logo {
  padding: 1rem;
}
.wrapper {
  margin: auto;
}
